# macOS temp files
\.DS_Store
\.DS_Store?
\._*
\.Spotlight-V100
\.Trashes
ehthumbs\.db
Thumbs\.db

# Project compiled sources
/climax-core/target/
/climax-core/nbactions\.xml

# Configuration files
/files/*\.conf
/climax-gui/target/
climax-core/.idea/

files/old.conf.example
